@font-face {
  font-family: 'FontAwesome';
  src: url("../fonts/fontawesome-webfont.eot?v=4.7.0");
  src: url("../fonts/fontawesome-webfont.eot?#iefix&v=4.7.0") format("embedded-opentype"), url("../fonts/fontawesome-webfont.woff2?v=4.7.0") format("woff2"), url("../fonts/fontawesome-webfont.woff?v=4.7.0") format("woff"), url("../fonts/fontawesome-webfont.ttf?v=4.7.0") format("truetype"), url("../fonts/fontawesome-webfont.svg?v=4.7.0#fontawesomeregular") format("svg");
  font-weight: normal;
  font-style: normal; }
html {
  margin: 0;
  padding: 0; }

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  display: grid; }

main {
  max-width: 90em;
  margin: 0 auto; }

.afbreken {
  word-break: break-all; }

footer {
  background: #3646b0;
  color: #f2f3f5;
  overflow: hidden;
  padding: 1rem 2rem; }

header {
  color: whitesmoke;
  background: #566ec8;
  background: linear-gradient(-15deg, #72784a 10%, red 19%, #3646b0 40%, #566ec8 75%, #566ec8 77%, whitesmoke 100%); }

h1 {
  margin: 0;
  padding: 2rem; }

.tagline {
  padding: 1rem 2rem; }

.nav {
  background: #3646b0;
  transition: top 1s;
  position: relative;
  font-size: 1.5em;
  top: auto;
  z-index: 1000; }
  .nav__label {
    font-family: Fontawesome;
    font-size: 1.5em;
    display: block;
    background-color: hsl(232, 53%, 45%);
    cursor: pointer; }
    .nav__label:hover {
      color: #fff; }
  .nav__labelText {
    color: whitesmoke;
    padding: .4em .2em .4em 2rem;
    display: inline-block; }
  .nav__list {
    margin: 0;
    padding: 0;
    list-style-type: none; }
  .nav__cb {
    display: none; }
    .nav__cb:checked ~ .nav__list {
      display: none; }
  .nav__item {
    display: block;
    padding: 0.2em 2em;
    font-family: sans-serif;
    text-decoration: none;
    color: #ccc; }
    .nav__item:hover {
      color: #fff;
      background-color: #72784a; }
    .nav__item--active {
      background-color: #afb8cf;
      color: #3646b0; }
      .nav__item--active:hover {
        background-color: #afb8cf;
        color: #3646b0; }

.kleven {
  position: fixed;
  width: 100%;
  animation: schuifNavIn .9s forwards; }

.verbergen {
  position: fixed;
  width: 100%;
  animation: schuifNavWeg .9s forwards; }

@keyframes schuifNavIn {
  0% {
    top: -3em; }
  100% {
    top: 0; } }
@keyframes schuifNavWeg {
  0% {
    top: 0; }
  100% {
    top: -3em; } }
.inhoud {
  padding: 2rem; }
  .inhoud__IF-houder {
    position: relative;
    border: 2px solid hsl(232, 53%, 45%);
    width: 100%;
    height: 0;
    padding-bottom: 56.25%; }
  .inhoud__iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    border: 0;
    height: 100%; }
  .inhoud__a {
    color: #45558E; }
    .inhoud__ahover {
      color: #72784a; }

.naarBoven {
  text-align: right;
  height: 3em; }
  .naarBoven__link {
    display: inline-block;
    width: 2em;
    font-family: Fontawesome;
    text-decoration: none;
    font-size: 2em;
    color: #3646b0;
    margin-left: 2%;
    padding: .5em 2rem 0 0;
    transition: padding .5s; }
    .naarBoven__link:hover {
      color: #566ec8;
      padding: 0 2rem .5em 0;
      color: #72784a; }

/* de ringen   */
.ringen {
  width: 100%;
  position: absolute;
  top: 0; }

.ring {
  stroke: #566ec8;
  stroke-width: 6;
  fill: none;
  mix-blend-mode: lighten; }

/* de social icons met BEM */
.social {
  background: #3646b0;
  font-family: Fontawesome;
  float: right; }
  .social__item {
    color: whitesmoke;
    display: inline-block;
    font-size: 1em;
    padding: .3em;
    text-decoration: none; }
    .social__item:first-child {
      margin-left: .5em; }
    .social__item:last-child {
      margin-right: .5em; }
    .social__item:hover {
      background-color: #72784a;
      color: #fff; }
    .social__item--twitter::before {
      content: "\f081"; }
    .social__item--github::before {
      content: "\f092"; }
    .social__item--facebook::before {
      content: "\f082"; }
    .social__item--google::before {
      content: "\f0d4"; }

@media screen and (min-width: 60em) {
  .nav {
    display: block; }
    .nav__list {
      display: flex; }
    .nav__cb:checked ~ .nav__list {
      display: flex; }
    .nav__labelText {
      display: none; }
    .nav__item {
      /* font-size: .7em; */
    }

  .inhoud {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 5%; } }

/*# sourceMappingURL=stijlTheo.css.map */
