@charset "UTF-8";
html,
body,
header,
h1,
h3 {
   margin: 0;
}

html {
   background-color: rgb(77, 77, 77);
}

body {
   width: 1280px;
   margin: 0 auto;
   background-color: rgb(255, 255, 255);
   color: rgb(20, 20, 20);
   font-family: Verdana, Arial, Helvetica, sans-serif;
   position: relative;
}

header {
   overflow: hidden;
   position: relative;
   height: 167px;
   background: url(../afb_vStijlen/tutorialheader.gif) no-repeat;
   background-color: rgb(0, 0, 0);
}

#kopachtergrond {
   position: absolute;
}

h1,
#tagline {
   color: rgb(255, 255, 255);
   position: absolute;
}

h1 {
   padding: 60px 0 0 30px;
   text-shadow: 0 0 40px rgba(10, 0, 10, 0.7);
}

#tagline {
   padding: 100px 0 0 160px;
   text-shadow: 0 0 80px rgba(10, 0, 10, 0.5);
}

nav {
   background-color: rgb(0, 0, 0);
   height: 18px;
}

nav ul {
   list-style-type: none;
   margin: 0 10px 0 auto;
   position: absolute;
   right: 40px;
}

nav li {
   width: 120px;
   float: left;
}

nav a {
   color: rgb(255, 255, 255);
   text-decoration: none;
   font-size: 12px;
   line-height: 18px;
   display: block;
   text-align: center;
   border-right: rgb(255, 255, 255) solid 1px;
   background-color: rgb(0, 0, 0);
   /*omdat we de knop uit gaan schuiven zal hij ook boven het wit te zien moeten zijn*/
}

nav a:hover {
   color: rgb(255, 10, 255);
}

nav li:first-child {
   border-left: rgb(255, 255, 255) solid 1px;
}

article {
   padding: 5px 40px;
   margin-bottom: 1em;
}

iframe {
   border: 0;
}

article div {
   margin-top: 0;
   -moz-column-width: 490px;
   -moz-column-gap: 40px;
   -moz-column-rule: 1px solid black;
   -webkit-column-width: 490px;
   -webkit-column-gap: 40px;
   -webkit-column-rule: 1px solid black;
   column-width: 490px;
   column-gap: 40px;
   column-rule: 1px solid black;
}
article div p:first-child {
   margin-top: 0;
}

h3 {
   padding: 29px 40px 10px 0;
}

.code {
   font-family: "Courier New", Courier, monospace;
}

code {
   color: blue;
   font-size: 125%;
}


/* de footer opmaken */


/* de social icons stylen */

@font-face {
   font-family: "socicon";
   src: url("../fonts/sociocon/socicon.eot");
   src: url("../fonts/sociocon/socicon.eot?#iefix") format("embedded-opentype"), url("../fonts/sociocon/socicon.woff") format("woff"), url("../fonts/sociocon/socicon.ttf") format("truetype"), url("../fonts/sociocon/socicon.svg#socicon") format("svg");
   font-weight: normal;
   font-style: normal;
}

[data-icon]:before {
   font-family: "socicon" !important;
   /*  content: attr(data-icon);*/
   font-style: normal !important;
   font-weight: normal !important;
   font-variant: normal !important;
   text-transform: none !important;
   speak: none;
   line-height: 1;
   -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale;
}

[class^="socicon-"]:before,
[class*=" socicon-"]:before {
   font-family: "socicon" !important;
   font-style: normal !important;
   font-weight: normal !important;
   font-variant: normal !important;
   text-transform: none !important;
   speak: none;
   line-height: 1;
   -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale;
}


/*     -----------     de icons  -------------  */

.socicon-slideshare:before {
   content: "\e017";
}

.socicon-buffer:before {
   content: "\e018";
}

.socicon-disqus:before {
   content: "\e019";
}

.socicon-whatsapp:before {
   content: "\e01b";
}

.socicon-pocket:before {
   content: "\e01e";
}

.socicon-mail:before {
   content: "\e01f";
}

.socicon-blogger:before {
   content: "\e020";
}

.socicon-technorati:before {
   content: "\e021";
}

.socicon-reddit:before {
   content: "\e022";
}

.socicon-dribbble:before {
   content: "\e023";
}

.socicon-stumbleupon:before {
   content: "\e024";
}

.socicon-digg:before {
   content: "\e025";
}

.socicon-behance:before {
   content: "\e027";
}

.socicon-wikipedia:before {
   content: "\e02d";
}

.socicon-apple:before {
   content: "\e02e";
}

.socicon-github:before {
   content: "\e030";
}

.socicon-twitter:before {
   content: "\e040";
}

.socicon-googleplus:before {
   content: "\e042";
}

.socicon-pinterest:before {
   content: "\e043";
}

.socicon-linkedin:before {
   content: "\e049";
}

.socicon-youtube:before {
   content: "\e051";
}

.socicon-vimeo:before {
   content: "\e052";
}

.socicon-wordpress:before {
   content: "\e058";
}

.socicon-tumblr:before {
   content: "\e059";
}

#socialIcons {
   background-color: #333;
   text-align: right;
   padding: .8em .8em .4em 0;
   border: 1px solid transparent;
   font-size: .8em;
   color: #eee;
   overflow: hidden;
}

#nav a span {
   text-decoration: none;
   color: #fff;
   font-size: 19px;
}

#socialIcons a:hover {
   text-decoration: none;
   text-shadow: 0 0 10px #fff;
}

a .icon {
   padding-left: .5em;
   padding-right: .5em;
}

#socialIcons a {
   color: #ddd;
   font-size: 1.5em;
   text-decoration: none;
   -moz-transition: all 1s ease;
   -webkit-transition: all 1s ease;
   -o-transition: all 1s ease;
   transition: all 1s ease;
   border: 0;
}

#validatie {
   float: right;
}

#validatie img {
   height: 1em;
   width: auto;
   border: 0;
   margin-left: .5em;
   margin-right: .3em;
}