.knoppen {
    display: grid;
    grid-gap: 1em;
    grid-template-rows: repeat(auto-fill, 2em);
    width: 7em;
    margin: 0 .5em;
    &--horizontaal {  
        width: 100%;         
        grid-template-columns: repeat(auto-fill, minmax(7em, auto))
    }
}
.knop {
    background-color: darkcyan;
    text-decoration: none;
    text-align: center;
    display: block;            
    border-radius: .2em;
    &:hover {
        background-color: forestgreen;
    }
    &__tekst {
        line-height: 2.45em;
        color: #fff;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: 900;
        font-size: .8em;
    }
    &--annuleer {
    background-color: rgb(96, 96, 96);
    &:hover {
            background-color: rgb(34, 34, 34);
        }
    }
}